.login-main {
  //display: flex;
  flex-direction: row;
  justify-content: center;
  //margin-top: 10%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-panel {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.login-form {
  //max-width: 800px;
  min-width: 400px;
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 50%;
}

.login-form-button {
  width: 100%;
}
