<div class="h-100 w-100">
  <div *ngIf="!loading" class="login-main">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
        <nz-form-item>
            <div nz-row nzType="flex" nzJustify="center" class="logo-panel" [style.background-color]="prefs.bg">
                  <img height="140px" [src]="getLogoUrl()" onerror="this.style.display='none'" style="float:left;object-fit:cover;">
            </div>
          <div>
          </div>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="username" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [disabled]="waitingLoginRes" class="login-form-button" [nzType]="'primary'">Log in</button>
            </nz-form-control>
          </nz-form-item>
          <p style="margin: 0px;">Volley Scoreboard Plus v{{getVertion()}}<br>
          Created by mgeri ( <a href="https://github.com/mgeri" target="_blank">https://github.com/mgeri</a> )</p>
        </form>
  </div>
</div>
