

.layout {
  height: 100vh;
}

nz-header {
  //width: 100%;
  background-color: #5f5f5f;
}

//[nz-menu] {
//  line-height: 64px;
//}

.inner-content {
  padding: 0px;
  background: #fbfbfb;
  min-height: 100px;
}

