<nz-layout style="min-height: 100%;">
  <nz-header>
      <nz-button-group>
        <button type="button" nz-button nzType="primary"
          (click)="newMatch()">
            NEW MATCH {{ keyboardShortcuts.newMatch? ' ( '+ keyboardShortcuts.newMatch +' ) ' : ''}}
        </button>
        <button type="button" nz-button nzType="primary"
          (click)="newSet()">
          NEW SET {{ keyboardShortcuts.newSet? ' ( '+ keyboardShortcuts.newSet +' ) ' : ''}}
        </button>
          <button type="button" nz-button nzType="primary"
              (click)="openPreferences()">
          <i class="fa fa-cog"></i>
          PREFERENCES
        </button>
      </nz-button-group>
      <span style="color: #ffffff; padding: 0px 15px 0px 25px;">Hide Controls Buttons</span><nz-switch [(ngModel)]="hideControls" class="stica"></nz-switch>
  </nz-header>
  <nz-content>
    <div *ngIf="!loading" class="inner-content" [style.padding-top]="!hideControls ? '10px' : null">
      <div class="d-flex text-center w-100" [class.h-90]="!hideControls" [class.h-100]="hideControls">
        <div *ngIf="!hideControls" class="d-flex flex-column w-10">
          <div class="h-20"></div>
          <div class="h-50">
            <app-up-down (up)="addHomePoint(1)"
                        (down)="addHomePoint(-1)"
                        [upShortcut]="keyboardShortcuts.homePointUp"
                        [downShortcut]="keyboardShortcuts.homePointDown">
            </app-up-down>
          </div>
          <div class="h-30">
            <app-up-down (up)="addHomeSet(1)"
                        (down)="addHomeSet(-1)"
                        [upShortcut]="keyboardShortcuts.homeSetUp"
                        [downShortcut]="keyboardShortcuts.homeSetDown">
            </app-up-down>
          </div>
        </div>
        <div class="h-100"
            [class.w-80]="!hideControls"
            [class.w-100]="hideControls"
            [style.background-color]="prefs.bg"
            [style.color]="prefs.fg">
          <app-scoreboard #scoreboard [showHeader]="false"
          (homePointSwipeUp)="addHomePoint(1)"
          (homePointSwipeDown)="addHomePoint(-1)"
          (awayPointSwipeUp)="addAwayPoint(1)"
          (awayPointSwipeDown)="addAwayPoint(-1)"
          (currentSetTap)="switchBallOwner()"
          (homeSetSwipeUp)="addHomeSet(1)"
          (homeSetSwipeDown)="addHomeSet(-1)"
          (awaySetSwipeUp)="addAwaySet(1)"
          (awaySetSwipeDown)="addAwaySet(-1)"
          (homeTimeoutTap)="addHomeTimeout()"
          (awayTimeoutTap)="addAwayTimeout()"
          (homeVideoCheckTap)="addHomeVideoCheck()"
          (awayVideoCheckTap)="addAwayVideoCheck()">
          </app-scoreboard>
        </div>
        <div *ngIf="!hideControls" class="d-flex flex-column w-10">
          <div class="h-20"></div>
          <div class="h-50">
            <app-up-down (up)="addAwayPoint(1)"
                        (down)="addAwayPoint(-1)"
                        [upShortcut]="keyboardShortcuts.awayPointUp"
                        [downShortcut]="keyboardShortcuts.awayPointDown">
            </app-up-down>
          </div>
          <div class="h-30">
            <app-up-down (up)="addAwaySet(1)"
                        (down)="addAwaySet(-1)"
                        [upShortcut]="keyboardShortcuts.awaySetUp"
                        [downShortcut]="keyboardShortcuts.awaySetDown">>
            </app-up-down>
          </div>
        </div>
      </div>
      <div *ngIf="!hideControls" class="d-flex h-10">
        <div class="w-10"></div>
        <div class="d-flex w-80 p-1">
          <div class="w-20"></div>
          <div class="d-flex w-60">
            <div class="d-flex justify-content-end w-30 px-3">
              <button type="button" nz-button nzType="primary" nzSize="large" class="m-1"
                      (click)="addHomeTimeout()">
                <i class="fa fa-clock-o"></i><span *ngIf="keyboardShortcuts.homeTimeout != ''"> ( {{keyboardShortcuts.homeTimeout}} )</span>
              </button>
              <button type="button" nz-button nzType="primary" nzSize="large" class="m-1"
                      (click)="addHomeVideoCheck()">
                <i class="fa fa-video-camera"></i><span *ngIf="keyboardShortcuts.homeVideoCheck != ''"> ( {{keyboardShortcuts.homeVideoCheck}} )</span>
              </button>
            </div>
            <div class="d-flex justify-content-center w-40">
              <button type="button" nz-button nzType="primary" nzSize="large" class="m-1"
                      (click)="switchBallOwner()">
                <i class="fa fa-exchange"></i><span *ngIf="keyboardShortcuts.ballOwnerSwitch != ''"> ( {{keyboardShortcuts.ballOwnerSwitch}} )</span>
              </button>
            </div>
            <div class="d-flex justify-content-start w-30 px-3">
              <button type="button" nz-button nzType="primary" nzSize="large" class="m-1"
                      (click)="addAwayVideoCheck()">
                <i class="fa fa-video-camera"></i><span *ngIf="keyboardShortcuts.awayVideoCheck != ''"> ( {{keyboardShortcuts.awayVideoCheck}} )</span>
              </button>
              <button type="button" nz-button nzType="primary" nzSize="large" class="m-1"
                      (click)="addAwayTimeout()">
                <i class="fa fa-clock-o"></i><span *ngIf="keyboardShortcuts.awayTimeout != ''"> ( {{keyboardShortcuts.awayTimeout}} )</span>
              </button>
            </div>
          </div>
          <div class="w-20"></div>
        </div>
        <div class="w-10"></div>
      </div>
    </div>
  </nz-content>
</nz-layout>

