

.layout {
  min-height: 100%;
}

.logo {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 16px 16px 0;
  float: left;
}

nz-header {
   //width: 100%;
   background-color: #142B49;
   height: 64px;
}

[nz-menu] {
   line-height: 64px;
}

.inner-content {
  padding-top: 0px;
  background: #fbfbfb;
  height: 100%;
  height: calc((var(--vh, 1vh)*100) - 64px);
}

