.video-check-container {
  font-size: 5vh;
  font-size: calc(var(--vh, 1vh) * 5);
  font-variant: small-caps;
  .timeout-flag {
    border-width: medium;
    border-style: solid;
    border-radius: 25%;
    &.off {
      background-color: transparent !important;
    }
  }
}
