<!--The content below is only a placeholder and can be replaced.-->
<!--<div *ngIf="loading">
    loading ...
</div>
-->
<div *ngIf="!loading" class="w-100 h-100 text-center"
     [style.background-color]="prefs.bg"
     [style.color]="prefs.fg">

  <div *ngIf="isHeaderVisible()" class="h-20">
    <img height="100%" [src]="getLogoUrl()" onerror="this.style.display='none'">
  </div>
  <div class="w-100 d-flex flex-column"
       [class.h-100]="!isHeaderVisible()"
       [class.h-80]="isHeaderVisible()">

    <div class="names-zone d-flex w-100 h-20">
      <div class="w-50 p-1">
        <app-name [name]="prefs.homeName"
                  [bg]="prefs.homeBg"
                  [fg]="prefs.homeFg">
        </app-name>
      </div>
      <div class="w-50 p-1">
        <app-name [name]="prefs.awayName"
                  [bg]="prefs.awayBg"
                  [fg]="prefs.awayFg">
        </app-name>
      </div>
    </div>

    <div class="points-zone d-flex w-100 h-50">
      <div class="d-flex w-100 m-1">
        <div class="w-40">
          <app-points [points]="status.home.points"
                      [bg]="prefs.pointBg"
                      [fg]="prefs.pointFg">
          </app-points>
        </div>
        <div class="set-container w-20 mx-2"
            [style.background-color]="prefs.pointFg"
            [style.color]="prefs.pointBg">
          <div class="set-name h-30">
            {{prefs.setName}}
          </div>
          <div class="set-value h-70">
            {{status.home.sets + status.away.sets + 1}}
          </div>
        </div>
        <div class="w-40">
          <app-points [points]="status.away.points"
                      [bg]="prefs.pointBg"
                      [fg]="prefs.pointFg">
          </app-points>
        </div>
      </div>

      <div class="ball-container"></div>
      <div *ngIf="status.ballOwner === TeamBallOwner.Home"
           class="ball-status ball-home"
           [style.color]="prefs.pointBg">
        <i class="fa fa-chevron-circle-left"></i>
      </div>
      <div *ngIf="status.ballOwner === TeamBallOwner.Away"
           class="ball-status ball-away"
           [style.color]="prefs.pointBg">
        <i class="fa fa-chevron-circle-right"></i>
      </div>
    </div>

    <div class="sets-zone d-flex w-100 h-30">
      <div class="d-flex w-100 m-1">
        <div class="d-flex w-20">
          <app-sets class="w-100 h-100"
                    [sets]="status.home.sets"
                    [bg]="prefs.setBg"
                    [fg]="prefs.setFg">
          </app-sets>
        </div>
        <div class="d-flex flex-column w-60">
          <div class="h-50">
            <app-timeouts [home]="status.home.timeouts"
                          [away]="status.away.timeouts"
                          [name]="prefs.timeoutName"
                          [bg]="prefs.timeoutBg">
            </app-timeouts>
          </div>
          <div class="h-50">
            <app-video-checks [home]="status.home.videoChecks"
                              [away]="status.away.videoChecks"
                              [name]="prefs.videoCheckName"
                              [bg]="prefs.videoCheckBg">
            </app-video-checks>
          </div>
        </div>
        <div class="d-flex w-20">
          <app-sets class="w-100 h-100"
                    [sets]="status.away.sets"
                    [bg]="prefs.setBg"
                    [fg]="prefs.setFg">
          </app-sets>
        </div>
      </div>
    </div>
  </div>
</div>
