<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
</div>
<div class="modal-body">
  <form name="preferences" [formGroup]="formGroup">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <div class="w-40 p-1">
          <mat-form-field>
            <input matInput placeholder="Home name"
                   [formControlName]="'homeName'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Home BG"
                   [formControlName]="'homeBg'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Home FG"
                   [formControlName]="'homeFg'">
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex">
        <div class="w-40 p-1">
          <mat-form-field>
            <input matInput placeholder="Away name"
                   [formControlName]="'awayName'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Away BG"
                   [formControlName]="'awayBg'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Away FG"
                   [formControlName]="'awayFg'">
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex">
        <div class="w-50 p-1">
          <mat-form-field>
            <input matInput placeholder="Background"
                   [formControlName]="'bg'">
          </mat-form-field>
        </div>
        <div class="w-50 p-1">
          <mat-form-field>
            <input matInput placeholder="Foreground"
                   [formControlName]="'fg'">
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex">
        <div class="w-40 p-1">
          <mat-form-field>
            <input matInput placeholder="Set label"
                   [formControlName]="'setName'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Set BG"
                   [formControlName]="'setBg'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Set FG"
                   [formControlName]="'setFg'">
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex">
        <div class="w-40 p-1">
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Point BG"
                   [formControlName]="'pointBg'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Point FG"
                   [formControlName]="'pointFg'">
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex">
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Timeout label"
                   [formControlName]="'timeoutName'">
          </mat-form-field>
        </div>
        <div class="w-40 p-1">
          <mat-form-field>
            <input matInput placeholder="Timeout and Video check BG"
                   [formControlName]="'timeoutBg'">
          </mat-form-field>
        </div>
        <div class="w-30 p-1">
          <mat-form-field>
            <input matInput placeholder="Video check label"
                   [formControlName]="'videoCheckName'">
          </mat-form-field>
        </div>
      </div>



      <!--mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field-->
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          mat-raised-button color="primary"
          (click)="dismissModal()">
    Cancel
  </button>
  <button type="button"
          mat-raised-button color="primary"
          (click)="updatePrefs()">
    Save
  </button>
</div>
