<div class="modal-header">
  <h4 class="modal-title">Preferences</h4>
</div>
<div class="preferences-form">
  <form nz-form [formGroup]="formGroup" name="preferences">
    <div nz-row [nzGutter]="12">

      <!-- show header with logo, bg and fg -->
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'showHeader'" [nzSm]="9">Show Header</nz-form-label>
          <nz-form-control [nzSm]="15">
              <nz-switch [formControlName]="'showHeader'"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'background'" [nzSm]="16">Background</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('bg').value"
              (colorPickerChange)="formGroup.get('bg').setValue($event)"
              [style.background]="formGroup.get('bg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'foregroud'" [nzSm]="16">Foreground</nz-form-label>
          <nz-form-control [nzSm]="8">
            <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('fg').value"
              (colorPickerChange)="formGroup.get('fg').setValue($event)"
              [style.background]="formGroup.get('fg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Home -->
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'homeName'" [nzSm]="9">Home Name</nz-form-label>
          <nz-form-control [nzSm]="15">
            <input nz-input placeholder="Home" [formControlName]="'homeName'"
            [style.background]="formGroup.get('homeBg').value"
            [style.color]="formGroup.get('homeFg').value"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'homeBg'" [nzSm]="16">Home BG</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('homeBg').value"
              (colorPickerChange)="formGroup.get('homeBg').setValue($event)"
              [style.background]="formGroup.get('homeBg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'homeFg'" [nzSm]="16">Home FG</nz-form-label>
          <nz-form-control [nzSm]="8">
            <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('homeFg').value"
              (colorPickerChange)="formGroup.get('homeFg').setValue($event)"
              [style.background]="formGroup.get('homeFg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Away -->
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'awayName'" [nzSm]="9">Away Name</nz-form-label>
          <nz-form-control [nzSm]="15">
            <input nz-input placeholder="Away" [formControlName]="'awayName'"
            [style.background]="formGroup.get('awayBg').value"
            [style.color]="formGroup.get('awayFg').value"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'awayBg'" [nzSm]="16">Away BG</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('awayBg').value"
              (colorPickerChange)="formGroup.get('awayBg').setValue($event)"
              [style.background]="formGroup.get('awayBg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'awayFg'" [nzSm]="16">Away FG</nz-form-label>
          <nz-form-control [nzSm]="8">
            <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('awayFg').value"
              (colorPickerChange)="formGroup.get('awayFg').setValue($event)"
              [style.background]="formGroup.get('awayFg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Set -->
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'setName'" [nzSm]="9">Set Label</nz-form-label>
          <nz-form-control [nzSm]="15">
            <input nz-input placeholder="Set" [formControlName]="'setName'"
            [style.background]="formGroup.get('setBg').value"
            [style.color]="formGroup.get('setFg').value"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'setBg'" [nzSm]="16">Set BG</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('setBg').value"
              (colorPickerChange)="formGroup.get('setBg').setValue($event)"
              [style.background]="formGroup.get('setBg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'setFg'" [nzSm]="16">Set FG</nz-form-label>
          <nz-form-control [nzSm]="8">
            <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('setFg').value"
              (colorPickerChange)="formGroup.get('setFg').setValue($event)"
              [style.background]="formGroup.get('setFg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Point -->
      <div nz-col [nzOffset]="12" [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'pointBg'" [nzSm]="16">Point BG</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('pointBg').value"
              (colorPickerChange)="formGroup.get('pointBg').setValue($event)"
              [style.background]="formGroup.get('pointBg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'pointFg'" [nzSm]="16">Point FG</nz-form-label>
          <nz-form-control [nzSm]="8">
            <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('pointFg').value"
              (colorPickerChange)="formGroup.get('pointFg').setValue($event)"
              [style.background]="formGroup.get('pointFg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Timeout -->
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'timeoutName'" [nzSm]="9">Timeout Label</nz-form-label>
          <nz-form-control [nzSm]="15">
            <input nz-input placeholder="Timeout" [formControlName]="'timeoutName'"
            [style.background]="formGroup.get('bg').value"
            [style.color]="formGroup.get('fg').value"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'timeoutBg'" [nzSm]="16">Timeout BG</nz-form-label>
          <nz-form-control [nzSm]="8">
              <input nz-input class="colorPicker" readonly="true"
              [cpCancelButton]="true"
              [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
              [cpAlphaChannel]="'disabled'"
              [colorPicker]="formGroup.get('timeoutBg').value"
              (colorPickerChange)="formGroup.get('timeoutBg').setValue($event)"
              [style.background]="formGroup.get('timeoutBg').value"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
      </div>

      <!-- Video Check -->
      <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzFor]="'videoCheckName'" [nzSm]="9">Video Check Label</nz-form-label>
            <nz-form-control [nzSm]="15">
              <input nz-input placeholder="Video Check" [formControlName]="'videoCheckName'"
              [style.background]="formGroup.get('bg').value"
              [style.color]="formGroup.get('fg').value"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item nzFlex>
            <nz-form-label [nzFor]="'videoCheckBg'" [nzSm]="16">Video Check BG</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input class="colorPicker" readonly="true"
                [cpCancelButton]="true"
                [cpCancelButtonClass]= "'ant-btn ant-btn-primary ant-btn-sm'"
                [cpAlphaChannel]="'disabled'"
                [colorPicker]="formGroup.get('videoCheckBg').value"
                (colorPickerChange)="formGroup.get('videoCheckBg').setValue($event)"
                [style.background]="formGroup.get('videoCheckBg').value"
                />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
        </div>

      </div>
  </form>
</div>
<div class="modal-footer">
  <button nz-button nzType="primary"
  [disabled]="disabled"
  (click)="cancelPrefs()">
    Cancel
  </button>
  <button nz-button nzType="primary" ngbAutofocus
  [disabled]="disabled"
  (click)="updatePrefs()">
    Save
  </button>
  <button nz-button nzType="primary" ngbAutofocus
  [disabled]="disabled"
  (click)="previewPrefs()">
    Preview
  </button>
  <button nz-button nzType="primary" ngbAutofocus
  [disabled]="disabled"
  (click)="loadDefaultPrefs()">
    Load Defaults
  </button>
</div>
