.name-container {
  border-width: medium;
  border-style: solid;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
  div {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 8.5vh;
    font-size: calc(var(--vh, 1vh) * 8.5);
  }
}
