<div class="timeout-container d-flex w-100 h-100">
  <div class="w-30 d-flex flex-row-reverse p-3">
    <div class="timeout-flag h-100 w-30 mx-1"
         [class.off]="home < 1"
         [style.background-color]="bg">
    </div>
    <div class="timeout-flag h-100 w-30 mx-1"
         [class.off]="home < 2"
         [style.background-color]="bg">
    </div>
  </div>
  <div class="w-40 d-flex justify-content-center align-items-center">
    {{name}}
  </div>
  <div class="w-30 d-flex flex-row p-3">
    <div class="timeout-flag h-100 w-30 mx-1"
         [class.off]="away < 1"
         [style.background-color]="bg">
    </div>
    <div class="timeout-flag h-100 w-30 mx-1"
         [class.off]="away < 2"
         [style.background-color]="bg">
    </div>
  </div>
</div>
