<div id="winner-container" class="w-100 h-100 text-center stars-sky" (window:resize)="onResize($event)">

    <div class="stars small"></div>
    <div class="stars medium"></div>
    <div class="stars large"></div>

    <div *ngIf="!loading && winnerSets != loserSets" id="winner-inner" class="winner-text">
      <p class="winner-team">{{ winnerTeam }}</p>
      <p class="winner-win"><span>W</span>in</p>
      <p class="winner-score">{{ winnerSets }} - {{ loserSets }}</p>
    </div>
    <div *ngIf="!loading && winnerSets == loserSets" id="winner-inner" class="winner-text" style="top: 15%;">
      <p class="winner-team">{{ winnerTeam }}</p>
      <p class="winner-win"><span>vs</span></p>
      <p class="winner-team">{{ loserTeam }}</p>
      <p class="winner-score">{{ winnerSets }} - {{ loserSets }}</p>
    </div>
</div>
